In [1]:
# list of high schools
high_schools = ["Hernandez High School", "Figeuroa High School", "Wilson High School", "Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figeuroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figeuroa", "Type": "District"},
                    {"High School": "Wilson", "Type":"Charter"},
                    {"High School": "Wright", "type": "Charter"}
                    ]

In [4]:
# iterate through list of dictionaries and print out each high school and their types
for high_school in high_school_types:
    print(high_school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figeuroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'type': 'Charter'}

In [5]:
# list of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", 
               "Wilson High School", "Cabera High School", "Bailey High School", "Holden High School", "Pena High School",
               "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School","Thomas High School" ]

In [6]:
# add the pandas dependency
import pandas as pd

In [7]:
# create a pandas series from a list
school_series = pd.Series(high_schools)
# print
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6        Cabera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [8]:
# iterate through school_series to print each school
for high_school in school_series:
    print(high_school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [9]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [10]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [11]:
# three separate lists of information on high schools
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [12]:
# initialize a new empty dataframe
schools_df = pd.DataFrame()

In [13]:
# add the list to a new dataframe
schools_df["School ID"]= school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

#print the dataframe
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
# create a dictionary of info on high schools to create dataframe
high_schools_dict = {'School ID': school_id,
                    'school_name':school_name,
                    'type':type_of_school}
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [15]:
school_df = pd.DataFrame(high_schools_dict)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [16]:
# the columns attribute
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [17]:
# the index attribute
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [18]:
# the values attribute
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [19]:
# list of school IDs
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [20]:
# list of school_name
school_name = ["Huang High School", "Figueroa High School", "Shelton High School",
              "Hernandez High School", "Griffin High School", "Wilson High School",
              "Cabrera High School", "Bailey High School", "Holden High School",
              "Pena High School", "Wright High School", "Rodgriguez High School",
              "Johnson High School", "Ford High School", "Thomas High School"]

In [21]:
# list of school types 
school_type = ["District", "District", "Charter", "District", "Charter","Charter","Charter",
              "District", "Charter","Charter","Charter","District","District","District",
              "Charter"]

In [22]:
# initialize empty dataframe
school_df = pd.DataFrame()

In [23]:
# put lists into dataframe

school_df['School ID'] = school_id
school_df['School Name']= school_name
school_df['School Type']= school_type

school_df

    School ID             School Name School Type
0           0       Huang High School    District
1           1    Figueroa High School    District
2           2     Shelton High School     Charter
3           3   Hernandez High School    District
4           4     Griffin High School     Charter
5           5      Wilson High School     Charter
6           6     Cabrera High School     Charter
7           7      Bailey High School    District
8           8      Holden High School     Charter
9           9        Pena High School     Charter
10         10      Wright High School     Charter
11         11  Rodgriguez High School    District
12         12     Johnson High School    District
13         13        Ford High School    District
14         14      Thomas High School     Charter

In [24]:
# print last 5 rows of dataframe
school_df.tail()

    School ID             School Name School Type
10         10      Wright High School     Charter
11         11  Rodgriguez High School    District
12         12     Johnson High School    District
13         13        Ford High School    District
14         14      Thomas High School     Charter

In [25]:
# print last x rows of dataframe
school_df.tail(8)

    School ID             School Name School Type
7           7      Bailey High School    District
8           8      Holden High School     Charter
9           9        Pena High School     Charter
10         10      Wright High School     Charter
11         11  Rodgriguez High School    District
12         12     Johnson High School    District
13         13        Ford High School    District
14         14      Thomas High School     Charter

In [26]:
# print first x rows of dataframe
school_df.head(3)

   School ID           School Name School Type
0          0     Huang High School    District
1          1  Figueroa High School    District
2          2   Shelton High School     Charter